.bsp/
.idea/
target/
project/target/
project/project/
*.class
*.log
*.jar
*.war
*.ear
.DS_Store
*.swp
*.swo
*~
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.ensime
.ensime_cache/
.scala_dependencies
.worksheet
.metals/
.bloop/
metals.sbt
logs/

# Configuration files with secrets
local-setup/config.yaml
local-setup/minio-creds.yaml
local-setup/s3-credentials.yaml